.breadcrumb-section {
    padding: 12px 30px;
    font-family: Arial, sans-serif;
    border-radius: 6px;
    margin: 0 30px 20px 30px; /* thẳng hàng với header */
}

.breadcrumb-container {
    max-width: 1200px;
    margin-left: 2.7%;
    margin-top: 1%;
}

.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.breadcrumb li {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.breadcrumb li a {
    color: #000000;
    text-decoration: none;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.breadcrumb .divider {
    margin: 0 6px;
    color: #888;
}

.breadcrumb .current {
    color: #aaa;
    font-weight: normal;
}

.allProducts li {
    font-size: 30px;
    list-style-type: none;
    padding: 0;
    margin-left: 3.7%;
    margin-bottom: 10%;
}